:root {
    font-size: 16px;
}

body {
    font-weight: $font-normal;
    line-height: 1.35;
    font-family: "Poppins", sans-serif;
    @include flex(center);
    flex-direction: column;
    height: 100vh;
    background-color: $light;
    color: $grey;
}

a {
    text-decoration: none;
    color: $dark;
}

.section-title {
    text-transform: uppercase;
    @include media-max("md") {
        font-size: 1.5rem;
    }
}

h1 {
    color: $primary;
    font-size: 10rem;
    opacity: 0.4;
    text-align: center;
    text-transform: lowercase;
}

.todo-container {
    width: 400px;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input {
    border: none;
    color: $grey;
    display: block;
    width: 100%;
}

form .input {
    font-size: 2rem;
}

.input::placeholder {
    color: $light;
}

.input:focus {
    outline-color: $primary;
    box-shadow: 0 0 0 0.25rem $primary;
}

.input:focus-visible {
    outline: none;
}

.todos {
    background-color: $white;
}

.list-item {
    border-top: 1px solid $light;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    @include flex;
}

.delete {
    cursor: pointer;
}

.label-text {
    font-size: 1.5rem;
    padding: 0.5rem;
}
